<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container">
    <a class="navbar-brand" routerLink="/">World Cup Polling</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto" *ngIf="authService.authStatus$ | async">
        <li class="nav-item" *ngIf="(authService.role$ | async) !== 'Admin'">
          <a class="nav-link" routerLink="/teams" routerLinkActive="active">Vote Now</a>
        </li>
        <li class="nav-item" *ngIf="(authService.role$ | async) !== 'Admin'">
          <a class="nav-link" routerLink="/my-vote" routerLinkActive="active">My Vote</a>
        </li>
        <li class="nav-item" *ngIf="(authService.role$ | async) !== 'Admin'">
          <a class="nav-link" routerLink="/results" routerLinkActive="active">Results</a>
        </li>
        <li class="nav-item" *ngIf="(authService.role$ | async) === 'Admin'">
          <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">Admin Dashboard</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!(authService.authStatus$ | async)">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" *ngIf="!(authService.authStatus$ | async)">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item" *ngIf="authService.authStatus$ | async">
          <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
